/* v0
 */

/* Variables
 *  - - - - - - - - - - - - - - - - */
$color-base:                             #000;

/*doc
 ---
 title: Stencil
 name: stencil
 category: Libraries
 ---

[Stencil Mail](http://dijkstra.io/stencil-mail/docs/) has been included.
*/

@import '_lib/stencil/stencil';

//@import '_partials/banner';
//@import '_partials/centered';
//@import '_partials/flag';
//@import '_partials/grid';
@import '_partials/mailchimp';
@import '_partials/cells';
//@import '_partials/split';
//@import '_partials/stacked';
//@import '_partials/two_columns';
@import '_partials/borders';

/**
 *  Base
 *  - - - - - - - - - - - - - - - - */


body {
  color: $color-base;
  font-size: 22px;
  font-family: sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: $text-sm;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  word-break: normal;
}

p {
  line-height: $line-sm;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

hr {
  background-color: $color-base;
  border: none;
  color: $color-base;
  height: 1px;
}

a {
  color: $color-base;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: 0;
    color: $color-base;
    text-decoration: none;
  }
}

td{
  text-align: center;
  vertical-align: middle;
  width: auto;
}


// white space around table

.main {
  padding: 25px;

  @include mobile {
    padding: 10px !important;
  }
}


//middle border & half middle border

.between{
  padding-right: 3px;
  background-color: black;
  height: 100%;
  display: table-cell !important;

  @include desk {
    padding-right: 5px !important;
  }

  @include mobile {
    padding-right: 2px !important;
  }

  .halfwhite{
    position: absolute;
    top: 40%;
    height: 60%;
    width: 100%;
    background-color: white;
  }
}

.spacerlg{
  height: 30px;
}


// section one
// 2/3 left | 1/3 right

.section-one{

  .right{

    //firefox
    table{
      width:100%;
    }

    @include lap {
      font-size: 22px !important;
    }

    @include desk {
      font-size: $text-lg !important;
    }

    @include mobile {
      font-size: 15px !important;
    }
  }
}


// section two
// 2/3 left | 1/3 right

.section-two{

  td{
    vertical-align: bottom;
  }

  .right{
    vertical-align: bottom;
  }

  .left{
    padding: 30px;
  }

  .title{
    text-transform: uppercase;
    padding-bottom: 25%;
    height: 100%;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 700;
    letter-spacing: $letter-sm;
    line-height: $line-sm;


    @include to(401px) {
      font-size: 9px !important;
      letter-spacing: 0.05em!important;
    }

    @include desk {
      font-size: $text-lg !important;
    }

    @include mobile {
      font-size: 15px !important;
      line-height: $line-md;
    }
  }
}


// section three
// 1/3 left | 2/3 right

.section-three{

  .left{
    padding: 50px 50px;

    @include desk {
      img{
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    @include mobile {
      padding: 30px 40px !important;
    }
  }

  .between{
    position: relative;
  }
}


// section four
// full image

.section-four{

  div{
    padding: 60px;
    text-align: left;

    .text{
      width: 100%;

      @include gutter {
        width: 80% !important;
      }
    }

    p{
    	font-size: 20px;
    	font-style: normal;
    	font-variant: normal;
      line-height: $line-md;

      @include mobile {
        font-size: 15px !important;
      	font-style: normal;
      	font-variant: normal;
        line-height: $line-md;
      }

      @include desk {
        width: 100%;
      }
    }

    @include mobile {
      padding: 30px !important;
    }

    @include gutter {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @include desk {
      width: 60%;
    }
  }
}


// section five
// 1/3 | 1/3 | 1/3

.section-five{

  .right{

    //firefox
    table{
      width:100%;
    }

    @include lap {
      font-size: 22px !important;
    }

    @include desk {
      font-size: $text-lg !important;
    }

    @include mobile {
      font-size: 15px !important;
    }
  }
}

// footer

.footer{
  width: 100%;

    td{
      margin-bottom: 25px;
    }

  .copyright{
    font-size: 9px !important;
    line-height: 1.5em;
  }
}
