<center>
  <table class="container full">
    <tr>
      <td>
        <div class="main">

          <table class="container full border">


          <!-- section-one -->

          <tr>
            <td>
              <center>
                <table class="container full section-one border-b">
                  <tr>
                    <td>
                      <div class="media">
                        <div class="media-image x-two">
                          <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/28d922f0-e469-43de-9ac4-ecae5fddfd63.png" class="u-responsive u-responsive--full" alt="Alt" />
                        </div>

                        <div class="between">
                          <table>
                            <tr>
                              <td>
                              </td>
                            <tr>
                          </table>
                        </div>

                        <div class="media-body">
                          <table>
                            <tr>
                              <td>
                                <div>
                                  <a class="forceit" href="http://www.xxxi.nyc/">www.xxxi.nyc</a>
                                </div>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </td>

                    <td class="expander"></td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>


            <!-- section-two -->

            <tr>
              <td>
                <center>
                  <table class="container full section-two">
                    <tr class="spacerlg">
                    </tr>
                    <tr>
                      <td>
                        <!--
                        <table>
                          <tr>
                            <td rowspan="2" class="x-two">
                              <div class="title">
                                  <img src="images/Clavicle-04.png" class="u-responsive u-responsive--full" alt="Alt" />
                              </div>
                            </td>
                            <td rowspan="2">
                              <div class="between">
                                <table>
                                  <tr>
                                    <td>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </td>
                            <td class="exhibition">
                              <br>Exhibition
                              <br>By Rachael
                              <br>Yaeger
                            </td>
                          </tr>
                          <tr>
                            <div>
                              <td>
                                <img src="images/Clavicle-07.png" class="u-responsive u-responsive--full" alt="Alt" />
                              </td>
                            </div>
                          </tr>
                        </table>
                      -->

                        <div class="media">
                          <div class="media-image x-two">
                              <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/56b48aba-0e26-4f45-8a32-b8a4bb9ad494.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <table>
                              <tr>
                                <td>
                                </td>
                              <tr>
                            </table>
                          </div>

                          <div class="media-body">
                            <table>
                              <tr>
                                <td class="exhibition">
                                  <br>An
                                  <br>Exhibition
                                  <br>By Rachael
                                  <br>Yaeger
                                <td>
                              </tr>
                              <tr>
                                <td>
                                  <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/3ef8a57b-ec7b-4d1b-a754-05f8ee01bb84.png" class="u-responsive u-responsive--full" alt="Alt" />
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- section three -->

            <tr>
              <td>
                <center>
                  <table class="container full section-three border-t border-b">
                    <tr>
                      <td>
                        <div class="media">

                          <div class="media-body  x-two">
                            <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/50db9b6d-62b0-4a7e-a82a-3faf32de562f.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <div class="halfwhite">
                            </div>
                          </div>

                          <div class="media-image">
                              <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/afee02cb-9808-4f68-a8da-f51ed77e245b.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- section four -->

            <tr>
              <td>
                <center>
                  <table class="container full section-four">
                    <tr>
                      <td>
                        <img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/5a496c46-d984-4000-a177-3438c159924a.png" class="u-responsive u-responsive--full" alt="Alt" />
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- section four -->

            <tr>
              <td>
                <center>
                  <table class="container full section-four">
                    <tr>
                      <td>
                        <center>
                          <div>
                            <div class="opening">
                              <p>
                                <span>Dates</span>
                                <br>5/19 — 5/29
                              </p>
                              <p>
                                <span>Address</span>
                                <br>411 E. 9th St. NYC
                              </p>
                              <p>
                                <span>Opening Party</span>
                                <br>5/19, 7 — 9 pm
                              </p>
                              <p class="spnsored">
                                  <span>&#8627; Sponsored by</span>
                                  <br><img src="https://gallery.mailchimp.com/1a2ff75e095034fc6d0c19ef5/images/24f85d5a-a9c8-4adb-bd5f-609b89b5af67.png" alt="Alt" />
                              </p>
                            </div>
                            <div class="text">
                            <p class="push">
                              Clavicle is a series of photos taken over the course of 2015 on
                              disposable 35mm cameras in Berlin, Montreal and Manhattan.
                              Clavicles are intimate, delicate and personal.
                            </p>
                            <p>
                              Rachael Yaeger is the founder of <a href="http://human-nyc.com">Human NYC</a>, a small
                              creative agency in New York.
                            </p>
                            <p>
                              <a href="http://www.xxxi.nyc/">XXXI</a> is a storefront gallery and project space.
                            </p>
                        </center>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- footer -->

            <tr>
              <td>
                <center>

                  <table class="footer border-t" align="center">
                    <tr>
                      <td class="center" align="center" valign="top">
                        <center class="mailchimp u-padding-top-md u-padding-bottom-md">
                          <table>
                            <tr>
                              <td>
                                  <a href="http://www.xxxi.nyc/">XXXI</a> | 411 E. 9th St. NYC |
                                  <a href="https://twitter.com/thirtyone_nyc">Twitter</a> |
                                  <a href="*|UNSUB|*">Unsubscribe</a>
                                  <br>
                                <div class="copy">
                                  Copyright © 2016 | All rights reserved.
                                </div>
                                <div>
                                  <br>
                                  *|REWARDS|*
                                </div>
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>


          </table>

        </div>
        </td>
      <td class="expander"></td>
    </tr>
  </table>
</center>
