<center>
  <table class="container full">
    <tr>
      <td>
        <div class="main">

          <table class="container full border">


          <!--
            2/3 left | 1/3 right
            border at bottom
          -->

          <tr>
            <td>
              <center>
                <table class="container full section-one border-b">
                  <tr>
                    <td>
                      <div class="media">
                        <div class="left x-two">
                          <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                        </div>

                        <div class="between">
                          <table>
                            <tr>
                              <td>
                              </td>
                            <tr>
                          </table>
                        </div>

                        <div class="right x-one">
                          <table>
                            <tr>
                              <td>
                                <div>
                                  <a class="forceit" href="">Link</a>
                                </div>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </td>

                    <td class="expander"></td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>


            <!--
              2/3 left | 1/3 right with image underneath
              no border
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-two">
                    <tr class="spacerlg">
                    </tr>
                    <tr>
                      <td>

                        <div class="media">
                          <div class="left x-two">
                              <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <table>
                              <tr>
                                <td>
                                </td>
                              <tr>
                            </table>
                          </div>

                          <div class="right x-one">
                            <table>
                              <tr>
                                <td class="exhibition">
                                  Text with image underneath
                                <td>
                              </tr>
                              <tr>
                                <td>
                                  <img src="images/placeholder-250x250.png" class="u-responsive u-responsive--full" alt="Alt" />
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!--
              1/3 left | 2/3 right
              half middle border
              border top and bottom
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-three border-t border-b">
                    <tr>
                      <td>
                        <div class="media">

                          <div class="left x-one">
                            <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <div class="halfwhite">
                            </div>
                          </div>

                          <div class="right x-two">
                              <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!--
              full image
              no border
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-four">
                    <tr>
                      <td>
                        <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- section four -->

            <tr>
              <td>
                <center>
                  <table class="container full section-four">
                    <tr>
                      <td>
                        <center>
                          <div>
                            <div class="text">
                                Just plain text
                            </div>
                          </div>
                        </center>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>

            <!-- footer -->

            <tr>
              <td>
                <center>

                  <table class="footer border-t" align="center">
                    <tr>
                      <td class="center" align="center" valign="top">
                        <center class="mailchimp u-padding-top-md u-padding-bottom-md">
                          <table>
                            <tr>
                              <td>
                                  <a href="">Link</a> | Adress |
                                  <a href="">Link</a> |
                                  <a href="*|UNSUB|*">Unsubscribe</a>
                                  <br>
                                <div class="copy">
                                  Copyright © 2016 | All rights reserved.
                                </div>
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>


          </table>

        </div>
        </td>
      <td class="expander"></td>
    </tr>
  </table>
</center>
