<center>
  <table class="container full">
    <tr>
      <td>
        <div class="main">

          <!-- content table with browser padding-->
          <table class="container full border">


          <!--
            section one
            2/3 left: image | 1/3 right: link
            border at bottom
          -->

          <tr>
            <td>
              <center>
                <table class="container full section-one border-b">
                  <tr>
                    <td>
                      <div class="cells">
                        <div class="left x-two">
                          <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                        </div>

                        <div class="between">
                          <table>
                            <tr>
                              <td>
                              </td>
                            <tr>
                          </table>
                        </div>

                        <div class="right x-one">
                          <table>
                            <tr>
                              <td>
                                <div>
                                  <a href="">Link</a>
                                </div>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </td>

                    <td class="expander"></td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>


            <!--
              section two
              2/3 left: image with padding | 1/3 right: title with image underneath
              no border
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-two">
                    <tr class="spacerlg">
                    </tr>
                    <tr>
                      <td>

                        <div class="cells">
                          <div class="left x-two">
                              <img src="images/placeholder-250x250.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <table>
                              <tr>
                                <td>
                                </td>
                              <tr>
                            </table>
                          </div>

                          <div class="right x-one">
                            <table>
                              <tr>
                                <td class="title">
                                  Text with image underneath
                                <td>
                              </tr>
                              <tr>
                                <td>
                                  <img src="images/placeholder-250x250.png" class="u-responsive u-responsive--full" alt="Alt" />
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>


            <!--
              1/3 left: image with padding | 2/3 right: text
              half middle border
              border top and bottom
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-three border-t border-b">
                    <tr>
                      <td>
                        <div class="cells">

                          <div class="left x-one">
                            <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <div class="halfwhite">
                            </div>
                          </div>

                          <div class="right x-two">
                              Text
                          </div>

                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>


            <!--
              3/3: image
              no border
            -->

            <tr>
              <td>
                <center>
                  <table class="container full">
                    <tr>
                      <td>
                        <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>


            <!--
              section four
              3/3: plain text
              no border
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-four">
                    <tr>
                      <td>
                        <center>
                          <div>
                            <div class="text">
                              <p>
                                Just plain text
                              </p>
                            </div>
                          </div>
                        </center>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>


            <!--
              section five
              1/3: image | 1/3: link \ 1/3: image
              border top
            -->

            <tr>
              <td>
                <center>
                  <table class="container full section-five border-t">
                    <tr>
                      <td>
                        <div class="cells">
                          <div class="left x-three">
                            <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                          </div>

                          <div class="between">
                            <table>
                              <tr>
                                <td>
                                </td>
                              <tr>
                            </table>
                          </div>

                          <div class="right x-three">
                            <table>
                              <tr>
                                <td>
                                  <div>
                                    <a href="">Link</a>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div class="between">
                            <table>
                              <tr>
                                <td>
                                </td>
                              <tr>
                            </table>
                          </div>

                          <div class="right x-three">
                            <table>
                              <tr>
                                <td>
                                  <img src="images/placeholder-350x150.png" class="u-responsive u-responsive--full" alt="Alt" />
                                </td>
                                <td class="expander"></td>
                              </tr>
                            </table>
                          </div>

                        </div>
                      </td>

                      <td class="expander"></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>


            <!--
              footer
              border top
            -->

            <tr>
              <td>
                <center>

                  <table class="footer border-t" align="center">
                    <tr>
                      <td class="center" align="center" valign="top">
                        <center class="mailchimp u-padding-top-md u-padding-bottom-md">
                          <table>
                            <tr>
                              <td>
                                  <a href="">Link</a> | Adress |
                                  <a href="">Link</a> |
                                  <a href="*|UNSUB|*">Unsubscribe</a>
                                  <br>
                                <div class="copyright">
                                  Copyright © 2016 | All rights reserved.
                                </div>
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>

          </table>

        </div>
        </td>
      <td class="expander"></td>
    </tr>
  </table>
</center>
